
.name-style{
    margin-left: 60px;
    margin-right: 180px;
    margin-top:200px;
    text-align: center;
    justify-content: center;
    color:black;
}
.wrapper{
 color:blue;
}
ul{
    width:15px;
    list-style: none;
    color:blue;
}
.dynamic{
    display: flex;
    margin-left: 60px;
    color:black;
    font-size: 20px;
    font-weight: 20px;
    position: relative;
}
.bg-style{
    margin-top: -20px;
}
.header-menu ul li{
    list-style: none;
    width:100%;
    color:beige;
    margin:70px;
    
    

}
.header-menu ul{
    display :flex;
    margin-right:40px;
}
.header-menu{
    
    margin-left:220px;
    font-size:25px;
    
}
.header-style{
    margin:15px;
}